<h1>Editando un ToDo</h1>
<%= form_with(model: @todo, local: true) do |form| %>
  <%= form.label :Descripcion %>
  <%= form.text_field :description %>
  <br>
  <%= form.label :Completado%>
  <%= form.check_box :completed %>
  <br>
  <%= form.submit 'Editar', class: 'btn btn-outline-primary' %>
<% end %>
